article {
  padding: 1rem;
  color: #184d23;
  background-color: #b3d8c3;
}

h2 {
  margin: 0;
}

.actions {
  text-align: right;
  margin: 0;
}

.actions button {
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #2e7d32;
  color: #b3d8c3;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 1px 8px rgba(24, 77, 35, 0.4);
  transition: all 0.3s ease;
}

.actions button:hover,
.actions button:active {
  background-color: #2e7d32;
  box-shadow: 0 1px 8px rgba(24, 77, 35, 0.4);
}